ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
  }

  li {
    display: inline;
    float: right;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }